#editSection {
  border: 10px solid black;
  width: 25%;
}

#editViewDisplay {
  width: 70%;
}

#toolsSection {
  border: 1px solid orange;
  margin: 0 0 10px 0;
}

#fieldEditSection {
  border: 1px solid green;
  margin: 0 0 10px 0;
}

.editItem {
  margin: 0 0 10px 0;
  border: 1px solid blue;
}
