<!--suppress HtmlFormInputWithoutLabel -->
<div>view-edit works!</div>
<div class="row-wrapper">
  <div id="editViewDisplay">
    <app-view-renderer [view]="view" [isEditMode]="true" (fieldPress)="selectedFieldChange($event)"
                       [fieldRenderParameter]="fieldParams"></app-view-renderer>
  </div>

  <span class="flex-fill-space"></span>

  <div id="editSection">
    <!--    Section with some basic features like swapping fields, swap rows, adding row, ...-->
    <div id="toolsSection">
      <button mat-button (click)="addRow()">Add Row</button>
      <button mat-button (click)="removeRow()">Delete Row</button>
      <button mat-button (click)="addColumn()">Add Column</button>
      <button mat-button (click)="removeColumn()">Delete Column</button>
      <button mat-button (click)="test()">Test</button>
    </div>

    <!--    Section where to edit field-->
    <div id="fieldEditSection" *ngIf="getSelectedField()" #fieldEditingSection>
      <div class="editItem">Id: {{getSelectedField().id}}</div>

      <div id="actionSection" class="editItem">
        Action:
      </div>

      <mat-form-field class="editItem">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="getSelectedField().title">
      </mat-form-field>

      <div class="editItem">
        <p>Background:</p>
        <img [src]="getBackgroundSrcString(getSelectedField())" alt="No Background" width="100%" height="100%"/>
        <div>
          <input type="file" accept="image/*" (change)="onFileChanged($event, getSelectedField())">
          <button mat-icon-button *ngIf="hasBackground(getSelectedField())" (click)="removeBackground(getSelectedField())">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div style="background-color: red" *ngIf="hasUnsavedChanges()">unsaved-view-changes!!!</div>
    <button mat-button (click)="save()">Save View</button>
  </div>
</div>
<div>
  <div>Preview</div>
  <app-view-renderer [view]="view" [isEditMode]="false"></app-view-renderer>
</div>
