#fieldEditSection {
  border: 1px solid green;
  margin: 0 0 10px 0;
}

.editItem-l1 {
  margin: 0 0 10px 0;
  border: 1px solid greenyellow;
}

.editItem-l2 {
  margin: 0 0 10px 0;
  border: 1px solid blue;
}
