<!--    Section where to edit field-->
<div id="fieldEditSection">
  <div class="editItem-l1">
    <h1>FIELD:</h1>
    <br>
    <button mat-button (click)="copy()">Copy</button>
    <button mat-button (click)="cut()">Cut</button>
    <button mat-button (click)="clear()">Clear</button>
    <button mat-button (click)="paste()">Paste</button>
    <button mat-button (click)="undo()">Undo</button>
    <button mat-button (click)="redo()">Redo</button>
    <button mat-button (click)="test()">Test</button>
  </div>

  <div class="editItem-l1">
    <p>General Field Settings</p>

    <div class="editItem-l2">Id: {{selectedField.id}}</div>

    <div class="editItem-l2">
      <h2>Title:</h2>
      <div>ID: {{title.id}}</div>

      <mat-form-field>
        <mat-label>Text</mat-label>
        <input matInput type="text" [(ngModel)]="title.text">
      </mat-form-field>
      <br>

      <mat-label>Horizontal-Align:</mat-label>
      <mat-button-toggle-group [(ngModel)]="title.horizontalAlignment">
        <mat-button-toggle value="LEFT" aria-label="Text align left">
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="CENTER" aria-label="Text align center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="RIGHT" aria-label="Text align right">
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br>

      <mat-label>Vertical-Align:</mat-label>
      <mat-button-toggle-group [(ngModel)]="title.verticalAlignment">
        <mat-button-toggle value="TOP" aria-label="Text align left">
          <mat-icon>vertical_align_top</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="CENTER" aria-label="Text align center">
          <mat-icon>vertical_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="BOTTOM" aria-label="Text align right">
          <mat-icon>vertical_align_bottom</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <br>

      <mat-form-field>
        <mat-label>Color:</mat-label>
        <input matInput type="color" [(ngModel)]="title.color">
      </mat-form-field>
    </div>

    <mat-form-field class="editItem-l2" style="width: 100%">
      <input matInput type="text" placeholder="Description" [(ngModel)]="selectedField.description">
    </mat-form-field>
  </div>

  <div class="editItem-l1">
    <p>Background:</p>
    <div style="height: 250px; position: relative;">
      <app-background-image-renderer [field]="selectedField"/>
    </div>
    <div>
      <input type="file" accept="image/*" (change)="onFileChanged($event)">
      <button mat-icon-button *ngIf="hasBackground()" (click)="removeBackground()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="editItem-l1">
    <p>Action:</p>

    <div class="editItem-l2">
      <p>General Action Settings</p>

      <div>ID: {{action.id}}</div>

      <mat-form-field>
        <mat-label>ActionType</mat-label>
        <mat-select [(ngModel)]="action.type">
          <mat-option *ngFor="let actionType of getActionTypes()" [value]="actionType">{{actionType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>RunPolicy</mat-label>
        <mat-select [(ngModel)]="action.runPolicy">
          <mat-option *ngFor="let runPolicy of getRunPolicies()" [value]="runPolicy">{{runPolicy}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="isRestAction()" class="editItem-l2">
      <p>REST-Action editing section</p>

      <mat-form-field>
        <mat-label>RestType</mat-label>
        <mat-select [(ngModel)]="getRestAction().restType">
          <mat-option *ngFor="let restType of getRestTypes()" [value]="restType">{{restType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput type="text" placeholder="URL" [(ngModel)]="getRestAction().url">
      </mat-form-field>
      <br>

      <mat-form-field>
        <input matInput type="text" placeholder="Body" [(ngModel)]="getRestAction().body">
      </mat-form-field>
    </div>

    <div *ngIf="isDesktopAutomationAction()" class="editItem-l2">
      <p>Desktop-Automation editing section</p>

      <app-desktop-automation-function-select [action]="getDesktopAutomationAction()"></app-desktop-automation-function-select>
    </div>

    <div *ngIf="isViewAction()" class="editItem-l2">
      <p>View-Action editing section</p>

      <mat-form-field>
        <mat-label>ViewActionType</mat-label>
        <mat-select [(ngModel)]="getViewAction().viewActionType">
          <mat-option *ngFor="let viewActionType of getViewActionTypes()" [value]="viewActionType">{{viewActionType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field *ngIf="isViewSwitchToAction()">
        <!--TODO: custom view selector-->
        <mat-label>View-ID</mat-label>
        <input matInput type="number" [(ngModel)]="getViewAction().viewId">
      </mat-form-field>
    </div>
  </div>
</div>


