<div id="viewRendererContainer">
  <!--<mat-card>-->
  {{getView().name}}
  <!--  <div id="fieldContainer" #fieldContainer>-->
  <div id="fieldContainer">
    <div class="column-wrapper">
      <div class="row-wrapper" *ngFor="let fields of getView().fields">
        <div class="field" *ngFor="let field of fields" [ngStyle]="{'width.px': getFieldWidth(), 'height.px': getFieldHeight()}">
          <app-edit-field-render
            *ngIf="isEditMode"
            [field]="field"
            (click)="onFieldPress(field)"
            [params]="getEditFieldRendererParameter()"
            class="renderComponent"
          ></app-edit-field-render>

          <app-action-field-render
            *ngIf="!isEditMode"
            [field]="field"
            (click)="onFieldPress(field)"
            [params]="getActionFieldRendererParameter()"
            class="renderComponent"
          ></app-action-field-render>
        </div>
      </div>
    </div>
  </div>
  <!--</mat-card>-->
</div>
