.renderComponent {
  width: 100%;
  height: 100%;
}

.padded-field {
  border: 1px solid black;
}

#fieldsContainer {
  border: 1px solid green;
}

#viewRendererContainer {
  height: 100%;
  background-color: #424242;
  padding: 10px;
}
