<mat-card>
  {{getView().name}}
  <div id="fieldContainer" #fieldContainer>
    <div class="column-wrapper" *ngFor="let fields of getView().fields">
      <div class="row-wrapper field" *ngFor="let field of fields"
           [ngStyle]="{'width': getFieldWidth() + 'px', 'height': getFieldHeight() + 'px'}">
        <app-edit-field-render [field]="field" *ngIf="isEditMode"></app-edit-field-render>
        <app-action-field-render [field]="field" *ngIf="!isEditMode"></app-action-field-render>
      </div>
    </div>
  </div>
</mat-card>
